<!-- <p>gpa-auto works!</p>
<ul>
    <li *ngFor="let course of courses">
      {{ course.name }}
    </li>
  </ul>

   -->
   <div id="resultTitle">
    <h2>Your Class Grades:</h2>
    <h3> FBLA Test Class 1: 95% </h3>
    <h3> FBLA Test Class 2: 82% </h3>
    <h3> FBLA Test Class 3: 90% </h3>
    <h3> FBLA Test Class 4: 87% </h3>
    <h3> FBLA Test Class 5: 80% </h3>
  </div>
  <br>

   <div id="resultTitle">
    <h2>Your Total GPA is:</h2>
    <h3> 3.2 </h3>
  </div>
  <br>

 

<div *ngFor="let course of courses">
  <h2>{{ course.name }}</h2>
  <p *ngFor="let grade of course.grades">
    {{ grade }}
  </p>
</div>