<!--<div class="container">
<h1>Angular Validation for Number Only - ItSolutionStuff.com</h1>
    
<form [formGroup]="form" (ngSubmit)="submit()">
        
    <div class="form-group">
        <label for="number">Number</label>
        <input 
            formControlName="number"
            id="number" 
            type="text" 
            class="form-control">
        <div *ngIf="f.number.touched && f.number.invalid" class="alert alert-danger">
            <div *ngIf="f.number.errors.required">Number is required.</div>
            <div *ngIf="f.number.errors.pattern">Enter only number.</div>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>
</div>-->

<!-- <app-grading-scale> </app-grading-scale> -->

<!-- <base href="/"> -->

<div id="bigDiv">
  <div id="title">
    <h1>GPA Calculator</h1>
    <hr/>
    <p id="description">
      &nbsp; &nbsp; This GPA Calculator is a student-created project for the Introduction to Programming FBLA Competition. 
      <br>
      <br>
      &nbsp; &nbsp; Use this calculator to calculate your Semester by entering your grade/percentage, credits earned, and course type for each course you have. 
      <br>
      <br>
      &nbsp; &nbsp; This calculator also has additional features such as the ability to calculate your Total GPA and the ability to generate a customizable report of the your GPA information. 
      <br>
      <br>
      &nbsp; &nbsp; Features to be added soon include a new Schoology-powered GPA calculator that can access your grades directly from Schoology to more accurately calculate your GPA and perform other tasks. Another feature to be added soon includes a customizable grading scale where the user can change the grading scale to better represent their school's grading system.
      <br>
      <br>
      &nbsp; &nbsp; Additional help is provided in the FAQ section at the bottom if needed.
    </p>
  </div>

<div>
    <button routerLink="/google-classroom/login.component.html"> Go to Google Classroom API </button>
</div>

  <div id="resultTitle">
    <h2>Your Total GPA is: {{ calculateTotalGPAUnWeighted() }}</h2>
  </div>
  <br>
  <div id="resultTitle">
    <h2>Your Semester GPA is:</h2>
  </div>

  <div id="currentGpa">
    <table>
      <thead>
        <tr>
          <th scope="col">Semester</th>
          <th scope="col">Unweighted GPA</th>
          <th scope="col">Weighted GPA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="semester" value="{{ semesterTitle }}" readonly /></td>
          <td>
            <input
              id="unweightedGpa"
              readonly
              value="{{ calculateAllGPAUnWeighted() }}"
            />
          </td>
          <td>
            <input
              id="weightedGpa"
              readonly
              value="{{ calculateAllGPAWeighted()}}"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div id="resultTitle">
  <h2> GPA Report </h2>
  <div><p>Generate a simple report that can show your weighted GPA, unweighted GPA, cumulative GPA, total GPA, and course information. Click the red button to download the file.</p></div>
  <br>
  <p> Select from the following to customize the information on the GPA Report: </p>
  <br>
  <div><input type="checkbox" 
        [(ngModel)]="checkedCumGPA"/>Include Cumulative GPA
        <input type="checkbox" 
        [(ngModel)]="checkWeightedGPA"/>Include Weighted GPA
        <input type="checkbox" 
        [(ngModel)]="checkUnweightedGPA"/>Include Unweighted GPA
        <input type="checkbox" 
        [(ngModel)]="checkTotalGPA"/>Include Total GPA
        <input type="checkbox" 
        [(ngModel)]="checkDetailGPA"/>Include GPA details of each course</div>
        <br>
        
        <p> Input a file name and file extension for the GPA Report: </p>
        <br>
    <div>File Name:  <input id="saveFileName" type="text" minlength="1" required [(ngModel)]="saveFileName" #name="ngModel"  (ngModelChange)="validateFileName()"/> </div>
    <div id="errorDiv" *ngIf="!this.validFileName">File Name cannot be an empty string!</div>
    
    <div>File Extension(optional):  <input type="text" minlength="1" [(ngModel)]="saveFileExtension"  appForbiddenName="exe" placeholder="Ex: txt, docx, rtf"/>  </div>
    <button 
  (click)="onSaveFile()"> Generate GPA Report</button>
</div>

  <br>
  <div id="instructionTitle">
    <h4>Input your Cumulative GPA (optional):</h4>
  </div>
  <div id="currentGpa">
    <div><p> Input your GPA prior to this semester and the amount of credits you have earned so far down below. This information will be used with your calculated Semester GPA to calculate your overall total GPA. </p></div>
    <br>
      <table>
      <thead>
        <tr>
          <th scope="col">Cumulative GPA</th>
          <th scope="col">Credits</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              id="cumulativeGpa"
              placeholder="Enter cumulative GPA"
              class="form-control"
              [(ngModel)]="cumulativeGPA"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
          <td>
            <input
              id="credit"
              placeholder="Enter credits"
              class="form-control"
              [(ngModel)]="cumulativeCredit"
              [ngModelOptions]="{ standalone: true }"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
  <div id="instructionTitle">
    <h4>Input your Course Information here: </h4>
  </div>
 <div>
    
    <div>
    <br>
    <div> <p> Give the semester a name and choose a grade input option. </p> </div>
    <br>
    <tr>
      <td>
        <input
          id="semesterTitle"
          placeholder="Semester Title"
          class="form-control"
          [(ngModel)]="semesterTitle"
          [ngModelOptions]="{ standalone: true }"
        />
      </td>
      <td>
        <select
          class="form-control"
          [(ngModel)]="gradeFormat"
          [ngModelOptions]="{ standalone: true }"
        >
          <option value="LETTERS">LETTERS</option>
          <option value="PERCENTAGE">PERCENTAGE</option>
        </select>
      </td>
    </tr>

        <div>
      <div id="calculator">
      <p> Input the name, the grade, the credits earned, and the type for each one of your courses in their respective columns.</p>
      <br>
      <table>
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Credits</th>
            <th scope="col">Course Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of gradeTable; let i = index">
            <td>
              <input
                id="courseName"
                placeholder="Enter course name"
                class="form-control"
                [(ngModel)]="row.courseName"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>

            <td *ngIf="gradeFormat == 'LETTERS'; else percentage1">
              <select
                class="form-control"
                [(ngModel)]="row.grade"
                [ngModelOptions]="{ standalone: true }"
              >
                *ngFor="let scale of scales">
                <option *ngFor="let scale of scales" value="{{ scale.id }}">
                  {{ scale.letterGrade }}
                </option>
              </select>
            </td>
            <ng-template #percentage1>
              <input
                id="courseName"
                placeholder="Enter percentage grade"
                class="form-control"
                [(ngModel)]="row.gradePercent"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="validatePerentage(row)"
              />
              <div id="errorDiv" *ngIf="!row.validPercentage">
                Percentage grade must be a positive integer or zero!
              </div>
            </ng-template>

            <td>
              <input
                class="form-control"
                [(ngModel)]="row.credit"
                [ngModelOptions]="{ standalone: true }"
                id="credit"
                (ngModelChange)="validateCredit(row)"
                placeholder="Enter credits"
              />
              <div id="errorDiv" *ngIf="!row.validCredit">
                Credit must be a positive integer or zero!
              </div>
            </td>
            <td>
              <select
                class="form-control"
                [(ngModel)]="row.type"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="regular">Regular</option>
                <option value="honors">Honors</option>
                <option value="ap">AP</option>
              </select>
            </td>
            <td><button (click)="removeRow(i)">Remove</button></td>
          </tr>
        </tbody>
      </table>
      <button (click)="addRow()">Add Course</button>
      </div>
     <br>
      <div id="instructionTitle">
        <h4> Grading Scale Reference Table: </h4>
      </div>

      <div id="calculator">
        <button (click)= "toggleGradingScale()" id="gradingScaleButton"> Options </button>
        <table>
          <thead>
            <tr>
              <th scope="col">Letter Grade</th>
              <th scope="col">Percent Grade low</th>
              <th scope="col">Percent Grade high</th>
              <th scope="col">Regular</th>
              <th scope="col">Honors</th>
              <th scope="col">AP</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let scale of scales; let i = index" (dblclick)="editItem(i)">
              <td>
                <ng-container *ngIf="editIndex !== i; else editMode">
                  {{  scale.letterGrade }}
                </ng-container>
                <ng-template #editMode>
                  <input type="text" [(ngModel)]="editedItem.letterGrade" (blur)="saveChanges(i)" />
                </ng-template>
              </td>

              <td>
                <ng-container *ngIf="editIndex !== i; else editPercentGrade">
                  {{  scale.percentGrade }}
                </ng-container>
                <ng-template #editPercentGrade>
                  <input type="text" [(ngModel)]="editedItem.percentGrade" (blur)="saveChanges(i)" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="editIndex !== i; else editPercentGradeHi">
                  {{  scale.percentGradeHi }}
                </ng-container>
                <ng-template #editPercentGradeHi>
                  <input type="text" [(ngModel)]="editedItem.percentGradeHi" (blur)="saveChanges(i)" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="editIndex !== i; else editRegular">
                  {{  scale.regular }}
                </ng-container>
                <ng-template #editRegular>
                  <input type="text" [(ngModel)]="editedItem.regular" (blur)="saveChanges(i)" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="editIndex !== i; else editHonors">
                  {{  scale.honors }}
                </ng-container>
                <ng-template #editHonors>
                  <input type="text" [(ngModel)]="editedItem.honors" (blur)="saveChanges(i)" />
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="editIndex !== i; else editAp">
                  {{  scale.ap }}
                </ng-container>
                <ng-template #editAp>
                  <input type="text" [(ngModel)]="editedItem.ap" (blur)="saveChanges(i)" />
                </ng-template>
              </td>
             
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<br>
<br>
<button 
  (click)="changeFAQ()"> Show/Hide "Frequently Asked Questions" section</button>
   
<!-- FAQ section -->
<div id = "faq" *ngIf="showFAQ">  
  <br>
  <h2 style="text-align: center;"><span style="color: #06075a;"><strong> GPA Calculator&#8211; Frequently Asked Questions</strong></span></h2>
<hr/>
<div> </div>
<br>
<h2> GPA Calculator Help</h2>
<br>

<div class="entry-content">  
  <button 
    (click)="changeQ_1()"> + How do I use this GPA Calculator?</button>
  <div *ngIf="showQ_1">  
  <p>Follow these steps to calculate your GPA:</p>
  <ol>
  <li>(Optional) Input your cumulative GPA and credits. Leave blank if you don't want to fill out current GPA.</li>
  <li>Input your semester name and choose either Letters or Percentages for the grade format.
  </li>
  <li>Fill out the table with grade, credits and course types for each course.</li>
  <li>You can input up to 8 courses. If you don't need all of them, just leave it blank.</li>
  <li>Scroll up to see your Semester GPA and Total GPA.</li>
  <li>Also check out more of the FAQ section for more answers on GPA-related questions.</li>
  </ol>
  </div>
  </div>
  <br>

<div class="entry-content">  
<button 
  (click)="changeQ0()"> + How does the GPA Report work?</button>
<div *ngIf="showQ0">  
<p>Our GPA Report feature generates a Customizable GPA Report using your GPA information. You can customize what information is shown on your GPA Report by selecting what you want from the 5 checkboxes. A GPA Report with all of the options selected would show your cumulative GPA, weighted GPA, unweighted GPA, total GPA, and course details. 
  After you have customized what information you want to see on the GPA Report you can give the file a name and an extension. The file name cannot be an empty string, otherwise, an auto-generated name is given to the file. The GPA Report automatically downloads as a TXT file; however, if you want to download the GPA Report as another file type, then you can change the File Extension box. For example, if you want to download the GPA Report as a Microsoft Word document instead of a normal text file, then you can input "docx" into the File Extension box. Once you're done with all of that, you can click the red button to download your GPA Report. </p>
  <br>
  <p> Here is an example of what a GPA Report with all of the courses filled out and all of the options selected would look like: </p>
<br>
<ol id = "gpaReportExample">
  <li> This is the automatically generated GPA report for semester "semester 1" </li>
  <li>Your Cumulative GPA is 3.3. </li>
  <li>Your Weighted GPA is 3.44.</li>
  <li>Your unweighted GPA is 3.</li>
  <li>Your total GPA is 3.08.</li>
  <br>
  <li>Below is the table showing the details:</li>
  <li>|Course Name  | Grade | Credits | Course Type</li>
  <li>|c1 | A- | 8 | regular | </li>
  <li>|c2 | B | 7 | honors | </li>
  <li>|c3 | B- | 6 | ap | </li>
  <li>|c4 | C | 5 | regular | </li>
  <li>|c5 | D- | 4 | honors | </li>
  <li>|c6 | B+ | 9 | ap | </li>
  <li>|c7 | A- | 8 | regular | </li>
  <li>|c8 | B+ | 7 | honors |</li>
</ol>
</div>
</div>
<br>

<h2> Manual GPA Calculation Help </h2>
<br>

<div class="entry-content">  
<button 
  (click)="changeQ1()"> + How do I calculate my High School Semester GPA?</button>
<div *ngIf="showQ1">  
<p>Follow these steps to calculate your GPA:</p>
<ol>
<li>Find your grades for each of your courses and list them out.
  If you only have percentages, convert your percentages into a letter grade for the simplicity of this guide. You can use our grading scale table to convert your percentages into letters.</li>
<li>List out the number of credits earned for each of your courses along with your grades.</li>
<li>Use our table above to convert your letter grades to points OR if your school uses a different grading scale, ask your school for their own grading scale and use that to convert your letter grades to points.
  .</li>
<li>Add up all your points from each of your courses.</li>
<li>Count up how many total credits you earned for the semester.</li>
<li>Divide the total amount of points by the total amount of credits.</li>
<p>You have now calculated your GPA for the semester.</p>
<p>If doing this manually seems like too much work, save the effort by using our GPA calculator to calculate your GPA for you within seconds!</p>
</ol>
</div>
</div>

<br>
<div class="entry-content">
<button 
  (click)="changeQ2()"> + What affect do AP and Honors courses have on my GPA?</button>
<div *ngIf="showQ2"> 
  <p>AP and Honors courses do not impact your Unweighted GPA, however they are very important for calculating Weighted GPA. AP and Honors courses both add "weight" to your points. What this means is that AP and Honors courses add "extra" points in addition to the points you have already earned for the course. Typically, Honors courses have a weight of +0.5 (meaning 0.5 extra points are added to the amount of points earned for that course) and AP courses have a weight of +1.0. This is the weight that this calculator uses, however this may vary from school to school. Some schools do not give the weighted points if you fail the class, meaning a D or below. Talk to your school to understand your school's specific grading scale in terms of AP and Honors classes.</p>
</div>
</div>
<br>

<div class="entry-content">
<button 
  (click)="changeQ3()"> + How can I calculate my total GPA (using cumulative GPA)?</button>
<div *ngIf="showQ3"> 
  <p>Calculating you total GPA using cumulative GPA is very similar to calculating your semeseter GPA.</p>
<ol>
  <li>Get your cumulative GPA and the amount of credits you have earned so far before the semester. If you are having trouble finding this, your transcipt is a good place to look.
  </li>
  <li>Use the same process from calculating your semester GPA to list out your total points & total credits earned for the semester.</li>
  <li>Add your cumulative GPA with your total points, then add all your credits earned before the semester with the ones you earned for the semester.</li>
  <li>Divide the sum of your cumulative GPA and the total points with the credits earned so far to get your total GPA.</li>
</ol>
</div>
</div>
<br>

<h2> AP & Honors Questions </h2>
<br>

<div class="entry-content">
<button 
  (click)="changeQ4()"> + Should I take a lot of AP and Honors courses?</button>
<div *ngIf="showQ4"> 
  <p>This decision really depends on your needs. AP & Honors courses are often more difficult and have a lot more course load than normal courses, so if you have many extracurricular commitments or you have not performed well in that certain subject previously, take these into consideration when thinking about taking these courses. You should also consider if you have interest in or if you have performed well in that certain subject. Talking to your teacher about this is essential as they probably know your skills the best and can predict how you would perform in a college-like course. Colleges want to see you work hard and succeed, which some students show by taking AP & Honors courses and some students may not need AP & Honors courses to show this.</p>
</div>
</div>
<br>

<div class="entry-content">
<button 
  (click)="changeQ5()"> + Is it more important to take more AP and Honors classes or is it more important to have better grades in less challenging classes?</button>
  <div *ngIf="showQ5"> 
  <p>Taking AP & Honors classes and having a good GPA are both very important. Colleges want to see you work hard and succeed by taking AP & Honors classes, however, if you are earning C's in these classes, it shows that you are not ready for those challenging classes. However, if you are earning A's or B's in Honors or AP classes, this is generally more favorable than earning A's in less-challenging courses. It really depends on if the course is suitable for you.</p>
  </div>
</div>
<br>

<h2> GPA Importance Questions </h2>
<br>



<div class="entry-content">
<button 
  (click)="changeQ6()"> + What is considered a good GPA?</button>
  <div *ngIf="showQ6"> 
  <p>This question is a bit subjective, as it really depends on your goals for high school. High schoolers should aim for a GPA of 3.3 or higher especially if you are interested in attending top-tier colleges like the Ivy League, since a lot those schools consider 3.3 as a minimum. If you want to challenge yourself or aim for Valedictorian, try going for a GPA of 4.0 or even higher(if your school uses a weighted GPA scale)!</p>
  </div>
</div>
<br>

<div class="entry-content">
<button 
  (click)="changeQ7()"> + What is the highest high school GPA possible?</button>
<div *ngIf="showQ7"> 
  <p>If your school uses an unweighted GPA system, then the highest possible GPA is 4.0. If your school uses a weighted GPA system, it's possible to even reach a GPA of 5.0, however it's highly unlikely.</p>
</div>
</div>
<br>

<div class="entry-content">
  <button 
  (click)="changeQ8()"> + Is high school GPA important for college?</button>
  <div *ngIf="showQ8"> 
  <p>High school GPA is probably one of the most important factors for college admissions. Many colleges have a minimun GPA requirement for admission. The importance of GPA to colleges varies from college to college. Some may emphasize GPA a lot while others may value other factors more. It is best you research individual colleges to understand their admission critieria to get a better understanding of this.</p>
</div> 
</div>
<br>

<div class="entry-content">
<button 
  (click)="changeQ9()"> + If I have a low GPA, does that mean I cannot go to a good college anymore?</button>
<div *ngIf="showQ9">  
<p>A low GPA does present some pretty significant challenges for college admissions, however, that doesn't mean you have no chance of making it into a good college anymore. Colleges consider many factors when review applications including extracurriculat activities, essays, recommendation letters, and standardized test scores. However, a low GPA still does present some significant challenges, so you should still try to get a better GPA.</p>
</div>
</div>


</div>

<br>
<br>
<div id="copyRight">Created by the Homestead FBLA Intro to Programming team. © 2024</div>
</div>

<app-grading-scale *ngIf = "showGradingScale" (buttonEvent)="receiveCloseGS($event)" [gradingScaleVisible]="showGradingScale"></app-grading-scale>