<div id="g_id_onload"
     data-client_id="363481054949-6plarohgt0sibqtnq0l8ub8ejvnp5g43.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="localhost:3000/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="continue_with"
     data-size="large"
     data-logo_alignment="left"
     data-width="100">
</div>